.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.pageContainer strong {
  font-size: 32px;
}

.logo {
  height: 17.5vh;
  padding: 0.5em;
}
